<ul class="list">
  <li class="opensLayer" data-location="views/data/rss.html">
    RSS
    <span class="chevron"/>
  </li>

  <li class="opensLayer" data-location="views/data/touchdb.html">
    TouchDB
    <span class="chevron"/>
  </li>

  <li class="opensLayer" data-location="views/data/sqlite.html">
    SQLite
    <span class="chevron"/>
  </li>

  <li class="opensLayer" data-location="views/data/persistencejs.html">
    persistence.js
    <span class="chevron"/>
  </li>

  <li class="performsTest" data-test="testSteroidsDataDefine">
    testSteroidsDataDefine
  </li>

  <li class="performsTest" data-test="testCommonRuntimeHttpRequest">
    testCommonRuntimeHttpRequest
  </li>

  <li class="performsTest" data-test="testNativeAPIShowStatusBar">
    testNativeAPIShowStatusBar
  </li>

  <li class="performsTest" data-test="testNativeAPIHideStatusBar">
    testNativeAPIHideStatusBar
  </li>


</ul>